My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a4772871-44a4-4fff-908b-c36e2fa11c75",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://economictimes.indiatimes.com/markets/rssfeeds/1977021501.cms",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e8bbd486-222e-4127-a711-77ff8e01f08d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a financial analyst assistant. Analyze the news and respond with ONLY the briefing text below. \nNo JSON. No curly braces. No \\n characters. No \"briefing\" key. Just plain text with real line breaks.\n\n🇮🇳 INDIAN MARKET DAILY BRIEFING\n─────────────────────\n\n📰 TOP 3 MARKET STORIES\n1. [story one]\n2. [story two]  \n3. [story three]\n\n📊 SECTORS MOST IMPACTED\n- [Sector]: [what happened]\n- [Sector]: [what happened]\n- [Sector]: [what happened]\n\n💡 TRADER'S TAKEAWAY\n[one sentence summary]\n\n─────────────────────\n🤖 Powered by Sarru06Bot\n\nAnalyze this news: {{ $('HTTP Request').item.json.data }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "c58750c9-b799-4cd4-9bc4-c7325af68d4d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "EA50hQUp6dGLuhWc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6351241790",
        "text": "={{ $('Code in JavaScript').item.json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "6cda9ef0-fd58-4576-8020-9a00d03ca6cd",
      "name": "Send a text message",
      "webhookId": "b644153f-0e01-44bb-9eef-99fe0227a68d",
      "credentials": {
        "telegramApi": {
          "id": "jL84m9mCcF5Vsvgk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Message a model').item.json.content.parts[0].text;\n\nconst cleaned = raw\n  .replace(/\\\\n/g, '\\n')        // fix literal \\n\n  .replace(/\\\\\"/g, '\"')         // fix escaped quotes\n  .replace(/^\\{.*?\"briefing\":\\s*\"/s, '')  // remove JSON wrapper\n  .replace(/\"\\s*\\}$/s, '')      // remove closing brace\n  .trim();\n\nreturn [{ json: { message: cleaned } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        144
      ],
      "id": "f6cfa59c-4e91-4ffb-ac25-9ea42cbedb3f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3b8d87a2-d048-4def-9f4e-5b721540d209",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f5e9d211171e48dbfcfc7ca4f137f9c5283b56f6c02365c38c75804b1f75dff"
  },
  "id": "DnbHWT80BnGy4Gp8",
  "tags": []
}